.answer-word {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  height: 50px;
  border-radius: 3px;
  color: white;
  font-size: 12pt;
  background-color: #56766b;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #c59849;
  }
}
