.letter-pool {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(7, 50px);
  row-gap: 10px;
  column-gap: 10px;

  :nth-child(n + 0):nth-child(-n + 10) {
    grid-row: 7;
  }

  :nth-child(n + 11):nth-child(-n + 20) {
    grid-row: 6;
  }

  :nth-child(n + 21):nth-child(-n + 30) {
    grid-row: 5;
  }

  :nth-child(n + 31):nth-child(-n + 40) {
    grid-row: 4;
  }

  :nth-child(n + 41):nth-child(-n + 50) {
    grid-row: 3;
  }

  :nth-child(n + 51):nth-child(-n + 60) {
    grid-row: 2;
  }

  :nth-child(n + 61):nth-child(-n + 70) {
    grid-row: 1;
  }

  .score-msg {
    grid-row: 4 !important;
  }
}

@media (max-width: 1024px) {
  .letter-pool {
    display: grid;
    grid-template-columns: repeat(10, 42px);
    grid-template-rows: repeat(7, 42px);
    row-gap: 8px;
    column-gap: 8px;
  }
}
