@import "../../common-styles.scss";

.game-screen {
  min-height: 100vh;
  background-color: $game-background-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-bar {
    height: 60px;
    width: $max-width;
  }

  .play-area {
    flex: 1 1;
    width: $max-width;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bot-bar {
    min-height: 80px;
    flex: 1;
    width: $max-width;
  }
}
