@import "../../common-styles.scss";

.score-bar {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 14px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  user-select: none;
}

.score-block {
  text-align: center;
}

.score-label {
  @include stat-label-text;
}

.score-value {
  @include stat-value-text;
}

.icon-button {
  background: none;
  border: none;
  font-size: 18px;
  opacity: 0.7;
}
