@import '../word-bash';

.wb-menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    background-image: none;
    background-color: #56766b;
    color: white;
    margin-bottom: 20px;
    font-size: $fontSize;
    font-weight: $fontWeight;
    width: 200px;

    &:hover {
      background-color: #c59849;
      transition: background-color 0.1s linear;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    form {
      margin-bottom: 20px;

      #form-label {
        margin-bottom: 20px;
      }

      input[type='radio'] {
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.drawer-content {
  padding: 10px;

  p {
    margin-bottom: 20px;
  }
}
