@import "../../common-styles.scss";

.start-screen {
  width: 100vw;
  height: 100vh;
  background-color: $main-background-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
