@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

$main-background-color: #f4f1ea;

$color-muted-clay: #b55a43;

$grid-line-color: rgba(0, 0, 0, 0.6);
$danger-line-color: #c94c4c;

$vowel-color: #8fa8b3;
$consonant-common: #c9c3b8;
$letter-mid-value: #a3a380;
$letter-high-value: #c67b5c;
// letter borders should be darker versions of above
// letter shadow to do
$letter-radius: 6px;
