.word-bash-card {
  background-color: #56766b;
  transition: background-color 0.2s linear;

  .app-card-title {
    color: white;
    font-size: 16pt;
    font-weight: 200;
    padding: 18%;
  }

  &:hover {
    background-color: #c59849;
    transition: background-color 0.2s linear;
  }
}
